export/
.vscode/
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat
example_mods/achievements/data/credits/credits.json
example_mods/BALLS/achievements/data/credits/credits.json
example_mods/BALLS/achievements/readme.txt
example_mods/BALLS/characters/amTakeBF-Christmas.json
example_mods/BALLS/characters/amTakeGF-Christmas.json
example_mods/BALLS/characters/amTakeParents-christmas.json
example_mods/BALLS/characters/amTakeParents-christmas2.json
example_mods/BALLS/characters/amTakeParentsAngry-christmas1.json
example_mods/BALLS/characters/amTakeParentsAngry-christmas2.json
example_mods/BALLS/characters/animania-bf-school.json
example_mods/BALLS/characters/animania-bf.json
example_mods/BALLS/characters/animania-gf.json
example_mods/BALLS/characters/bf-sketch-intro.json
example_mods/BALLS/characters/bf-sketch.json
example_mods/BALLS/characters/bf.json
example_mods/BALLS/characters/bf1.json
example_mods/BALLS/characters/chadano.json
example_mods/BALLS/characters/dad.json
example_mods/BALLS/characters/gf.json
example_mods/BALLS/characters/komi-sketch.json
example_mods/BALLS/characters/komi.json
example_mods/BALLS/characters/komiICON.json
example_mods/BALLS/characters/komiPC.json
example_mods/BALLS/characters/komiside.json
example_mods/BALLS/characters/lamapng.json
example_mods/BALLS/characters/michiru.json
example_mods/BALLS/characters/monika.json
example_mods/BALLS/characters/najimi-no-fuckin-way.json
example_mods/BALLS/characters/najimi-playable.json
example_mods/BALLS/characters/najimi-sketch.json
example_mods/BALLS/characters/najimi-sketch2.json
example_mods/BALLS/characters/najimi.json
example_mods/BALLS/characters/najimiNEW.json
example_mods/BALLS/characters/NOGF.json
example_mods/BALLS/characters/NONAJIMI.json
example_mods/BALLS/characters/readme.txt
example_mods/BALLS/characters/real.json
example_mods/BALLS/characters/rimuru.json
example_mods/BALLS/characters/shirou.json
example_mods/BALLS/characters/tadano-sketch.json
example_mods/BALLS/characters/tadano-sketch2.json
example_mods/BALLS/characters/tadano-sketch3.json
example_mods/BALLS/characters/tadano.json
example_mods/BALLS/custom_events/barbb.txt
example_mods/BALLS/custom_events/barzoom.txt
example_mods/BALLS/custom_events/camspeedchange.txt
example_mods/BALLS/custom_events/CanAttack.lua
example_mods/BALLS/custom_events/CanAttack.txt
example_mods/BALLS/custom_events/DodgeEvent.lua
example_mods/BALLS/custom_events/DodgeEvent.txt
example_mods/BALLS/custom_events/event.txt
example_mods/BALLS/custom_events/finale.txt
example_mods/BALLS/custom_events/Flash.lua
example_mods/BALLS/custom_events/Flash.txt
example_mods/BALLS/custom_events/goodbyehud.txt
example_mods/BALLS/custom_events/hudisback.txt
example_mods/BALLS/custom_events/Image Flash.lua
example_mods/BALLS/custom_events/Image Flash.txt
example_mods/BALLS/custom_events/komarrowsalpha05.txt
example_mods/BALLS/custom_events/komarrowsalpha1.txt
example_mods/BALLS/custom_events/komizoomin.txt
example_mods/BALLS/custom_events/lock-camera.lua
example_mods/BALLS/custom_events/lock-camera.txt
example_mods/BALLS/custom_events/MoveArrow.lua
example_mods/BALLS/custom_events/MoveArrow.txt
example_mods/BALLS/custom_events/play-sound.lua
example_mods/BALLS/custom_events/play-sound.txt
example_mods/BALLS/custom_events/readme.txt
example_mods/BALLS/custom_events/Set Cam Zoom.lua
example_mods/BALLS/custom_events/Set Cam Zoom.txt
example_mods/BALLS/custom_events/tadanogetscloser.txt
example_mods/BALLS/custom_events/tadwalk.txt
example_mods/BALLS/custom_events/Toggle_Trail.lua
example_mods/BALLS/custom_events/Toggle_Trail.txt
example_mods/BALLS/custom_events/transition.txt
example_mods/BALLS/custom_events/warning.txt
example_mods/BALLS/custom_events/Zoom.lua
example_mods/BALLS/custom_events/Zoom.txt
example_mods/BALLS/custom_notetypes/Attack.lua
example_mods/BALLS/custom_notetypes/DuetNote.lua
example_mods/BALLS/custom_notetypes/Fire.lua
example_mods/BALLS/custom_notetypes/NoPress.lua
example_mods/BALLS/custom_notetypes/Opponent Sing.lua
example_mods/BALLS/custom_notetypes/readme.txt
example_mods/BALLS/custom_notetypes/Special Sing.lua
example_mods/BALLS/custom_notetypes/Special Sing2.lua
example_mods/BALLS/data/bounce/attacking.lua
example_mods/BALLS/data/bounce/bounce-hard.json
example_mods/BALLS/data/bounce/events.json
example_mods/BALLS/data/bounce/hpDrain.lua
example_mods/BALLS/data/bounce/icon.hx
example_mods/BALLS/data/bounce/z/animated-icon.lua
example_mods/BALLS/data/bounce/z/attacking.lua
example_mods/BALLS/data/bounce/z/hpDrain.lua
example_mods/BALLS/data/burning-hearts/burning-hearts-power.json
example_mods/BALLS/data/burning-hearts/icon.hx
example_mods/BALLS/data/burning-hearts/Inst.ogg
example_mods/BALLS/data/burning-hearts/Voices.ogg
example_mods/BALLS/data/cocoa/cocoa-erect.json
example_mods/BALLS/data/cocoa/events.json
example_mods/BALLS/data/cocoa/hui.lua
example_mods/BALLS/data/communicate/communicate-hard.json
example_mods/BALLS/data/communicate/communicate.json
example_mods/BALLS/data/credits.txt
example_mods/BALLS/data/credits/credits.json
example_mods/BALLS/data/cyberchase/cyberchase-cyber.json
example_mods/BALLS/data/deep-poems/cutscene.lua
example_mods/BALLS/data/deep-poems/deep-poems-hard.json
example_mods/BALLS/data/deep-poems/dpuniscript.hx
example_mods/BALLS/data/deep-poems/icon.hx
example_mods/BALLS/data/deep-poems/info.txt
example_mods/BALLS/data/deep-poems/kom.lua
example_mods/BALLS/data/eggnog/eggnog-erect.json
example_mods/BALLS/data/eggnog/events.json
example_mods/BALLS/data/eggnog/hui.lua
example_mods/BALLS/data/hamood-habibi-remix/hamood-habibi-remix-haaard.json
example_mods/BALLS/data/najimi/najimi-easy.json
example_mods/BALLS/data/najimi/najimi-erect.json
example_mods/BALLS/data/najimi/najimi-hard.json
example_mods/BALLS/data/najimi/najimi.json
example_mods/BALLS/data/phone-call/events.json
example_mods/BALLS/data/phone-call/Flipped_Health_Bar.lua
example_mods/BALLS/data/phone-call/kys.hx
example_mods/BALLS/data/phone-call/phone-call-hard.json
example_mods/BALLS/data/phone-call/phone-call.json
example_mods/BALLS/data/phone-call/subtitles.lua
example_mods/BALLS/data/readme.txt
example_mods/BALLS/data/rimuru-mono/attacking.lua
example_mods/BALLS/data/rimuru-mono/dodge-button.lua
example_mods/BALLS/data/rimuru-mono/dodging.lua
example_mods/BALLS/data/rimuru-mono/rimuru-mono-hard.json
example_mods/BALLS/data/rimuru-mono/rimuru-mono-normal.json
example_mods/BALLS/data/rimuru-mono/rimuru-mono.json
example_mods/BALLS/data/tutorial/events.json
example_mods/BALLS/data/tutorial/tutorial-easy.json
example_mods/BALLS/data/tutorial/tutorial-hard.json
example_mods/BALLS/data/tutorial/tutorial.json
example_mods/BALLS/fonts/arial 1.ttf
example_mods/BALLS/fonts/Comic Sans MS.ttf
example_mods/BALLS/fonts/readme.txt
example_mods/BALLS/images/AMnotecombo.png
example_mods/BALLS/images/AMnotecombo.xml
example_mods/BALLS/images/amtakeshit/bad.png
example_mods/BALLS/images/amtakeshit/combo.png
example_mods/BALLS/images/amtakeshit/good.png
example_mods/BALLS/images/amtakeshit/num0.png
example_mods/BALLS/images/amtakeshit/num1.png
example_mods/BALLS/images/amtakeshit/num2.png
example_mods/BALLS/images/amtakeshit/num3.png
example_mods/BALLS/images/amtakeshit/num4.png
example_mods/BALLS/images/amtakeshit/num5.png
example_mods/BALLS/images/amtakeshit/num6.png
example_mods/BALLS/images/amtakeshit/num7.png
example_mods/BALLS/images/amtakeshit/num8.png
example_mods/BALLS/images/amtakeshit/num9.png
example_mods/BALLS/images/amtakeshit/shit.png
example_mods/BALLS/images/amtakeshit/sick.png
example_mods/BALLS/images/Animania_NOTES.png
example_mods/BALLS/images/Animania_NOTES.xml
example_mods/BALLS/images/Animania_NOTES_splashes.png
example_mods/BALLS/images/Animania_NOTES_splashes.xml
example_mods/BALLS/images/animate.png
example_mods/BALLS/images/bar.png
example_mods/BALLS/images/BG1/beam.png
example_mods/BALLS/images/BG1/bushFAR.png
example_mods/BALLS/images/BG1/bushFAR.xml
example_mods/BALLS/images/BG1/bushNEAR.png
example_mods/BALLS/images/BG1/bushNEAR.xml
example_mods/BALLS/images/BG1/COOL_LIGHTS_POG_WOW.png
example_mods/BALLS/images/BG1/farhouses.png
example_mods/BALLS/images/BG1/ground.png
example_mods/BALLS/images/BG1/house.png
example_mods/BALLS/images/BG1/PHONE_CALL.png
example_mods/BALLS/images/BG1/sign.png
example_mods/BALLS/images/BG1/sky.png
example_mods/BALLS/images/BG1/text.png
example_mods/BALLS/images/BG1/text.xml
example_mods/BALLS/images/BG1/text1.png
example_mods/BALLS/images/BG1/text1.xml
example_mods/BALLS/images/BG1/tree.png
example_mods/BALLS/images/BG2/house.png
example_mods/BALLS/images/BG2/trees.png
example_mods/BALLS/images/BG2/wall.png
example_mods/BALLS/images/blue_death_light.png
example_mods/BALLS/images/characters/amtake/week5/AMparents-christmas1.png
example_mods/BALLS/images/characters/amtake/week5/AMparents-christmas1.xml
example_mods/BALLS/images/characters/amtake/week5/AMparents-christmas2.png
example_mods/BALLS/images/characters/amtake/week5/AMparents-christmas2.xml
example_mods/BALLS/images/characters/amtake/week5/angry_parents1.png
example_mods/BALLS/images/characters/amtake/week5/angry_parents1.xml
example_mods/BALLS/images/characters/amtake/week5/angry_parents2.png
example_mods/BALLS/images/characters/amtake/week5/angry_parents2.xml
example_mods/BALLS/images/characters/amtake/week5/AnimaniaBF-Christmas.png
example_mods/BALLS/images/characters/amtake/week5/AnimaniaBF-Christmas.xml
example_mods/BALLS/images/characters/amtake/week5/animaniaGFXmas.png
example_mods/BALLS/images/characters/amtake/week5/animaniaGFXmas.xml
example_mods/BALLS/images/characters/AnimaniaBF-school.png
example_mods/BALLS/images/characters/AnimaniaBF-school.xml
example_mods/BALLS/images/characters/AnimaniaBF.png
example_mods/BALLS/images/characters/AnimaniaBF.xml
example_mods/BALLS/images/characters/AnimaniaGF.png
example_mods/BALLS/images/characters/AnimaniaGF.xml
example_mods/BALLS/images/characters/bf-sketch.png
example_mods/BALLS/images/characters/bf-sketch.xml
example_mods/BALLS/images/characters/BF.png
example_mods/BALLS/images/characters/BF.xml
example_mods/BALLS/images/characters/BOYFRIEND.png
example_mods/BALLS/images/characters/BOYFRIEND.xml
example_mods/BALLS/images/characters/Chadano.png
example_mods/BALLS/images/characters/Chadano.xml
example_mods/BALLS/images/characters/DADDY_DEAREST.png
example_mods/BALLS/images/characters/DADDY_DEAREST.xml
example_mods/BALLS/images/characters/GF_ass_sets.png
example_mods/BALLS/images/characters/GF_ass_sets.xml
example_mods/BALLS/images/characters/GF_assets.png
example_mods/BALLS/images/characters/GF_assets.xml
example_mods/BALLS/images/characters/komi-sketch.png
example_mods/BALLS/images/characters/komi-sketch.xml
example_mods/BALLS/images/characters/komi.png
example_mods/BALLS/images/characters/komi.xml
example_mods/BALLS/images/characters/KomiFullass.png
example_mods/BALLS/images/characters/KomiFullass.xml
example_mods/BALLS/images/characters/KomiICON.png
example_mods/BALLS/images/characters/KomiICON.xml
example_mods/BALLS/images/characters/KomiPC.png
example_mods/BALLS/images/characters/KomiPC.xml
example_mods/BALLS/images/characters/KomiSide.png
example_mods/BALLS/images/characters/KomiSide.xml
example_mods/BALLS/images/characters/lamapng.png
example_mods/BALLS/images/characters/lamapng.xml
example_mods/BALLS/images/characters/najimi-sketch.png
example_mods/BALLS/images/characters/najimi-sketch.xml
example_mods/BALLS/images/characters/Najimi.png
example_mods/BALLS/images/characters/Najimi.xml
example_mods/BALLS/images/characters/NajimiLOL.png
example_mods/BALLS/images/characters/NajimiLOL.xml
example_mods/BALLS/images/characters/NajimiNEW.png
example_mods/BALLS/images/characters/NajimiNEW.xml
example_mods/BALLS/images/characters/NOGF.png
example_mods/BALLS/images/characters/NOGF.xml
example_mods/BALLS/images/characters/readme.txt
example_mods/BALLS/images/characters/RIMURU.png
example_mods/BALLS/images/characters/RIMURU.xml
example_mods/BALLS/images/characters/ShirouBF.png
example_mods/BALLS/images/characters/ShirouBF.xml
example_mods/BALLS/images/characters/tadano-sketch.png
example_mods/BALLS/images/characters/tadano-sketch.xml
example_mods/BALLS/images/characters/tadano-sketch2.png
example_mods/BALLS/images/characters/tadano-sketch2.xml
example_mods/BALLS/images/characters/tadano.png
example_mods/BALLS/images/characters/tadano.xml
example_mods/BALLS/images/class/bg.png
example_mods/BALLS/images/class/board.png
example_mods/BALLS/images/class/cool-ass-light.png
example_mods/BALLS/images/class/desks.png
example_mods/BALLS/images/class/nak.png
example_mods/BALLS/images/class/nak.xml
example_mods/BALLS/images/class/one.png
example_mods/BALLS/images/combo.png
example_mods/BALLS/images/credits/credits.txt
example_mods/BALLS/images/credits/D4rkwinged.png
example_mods/BALLS/images/credits/dum.png
example_mods/BALLS/images/credits/G3hree.png
example_mods/BALLS/images/credits/KerSive.png
example_mods/BALLS/images/credits/Matyusha.png
example_mods/BALLS/images/credits/Naisonji.png
example_mods/BALLS/images/credits/PiPiYo.png
example_mods/BALLS/images/credits/PurSnake.png
example_mods/BALLS/images/cursor.png
example_mods/BALLS/images/deathAnim/about it.PNG
example_mods/BALLS/images/deathAnim/X-masBFdeathList1.png
example_mods/BALLS/images/deathAnim/X-masBFdeathList1.xml
example_mods/BALLS/images/deathAnim/X-masBFdeathList2.png
example_mods/BALLS/images/deathAnim/X-masBFdeathList2.xml
example_mods/BALLS/images/deathAnim/X-masBFdeathList3.png
example_mods/BALLS/images/deathAnim/X-masBFdeathList3.xml
example_mods/BALLS/images/dialogue/Animania_NOTES_splashes.xml
example_mods/BALLS/images/dialogue/readme.txt
example_mods/BALLS/images/Dodge.png
example_mods/BALLS/images/Dodge.xml
example_mods/BALLS/images/dp-bg.png
example_mods/BALLS/images/dp-bg.xml
example_mods/BALLS/images/icons/icon-alien.png
example_mods/BALLS/images/icons/icon-bf-sketch.png
example_mods/BALLS/images/icons/icon-bf.png
example_mods/BALLS/images/icons/icon-BF_FUCK_OMG.png
example_mods/BALLS/images/icons/icon-bhyoko.png
example_mods/BALLS/images/icons/icon-ccbf.png
example_mods/BALLS/images/icons/icon-classic-bf.png
example_mods/BALLS/images/icons/icon-dad.png
example_mods/BALLS/images/icons/icon-dp2.png
example_mods/BALLS/images/icons/icon-dp3.png
example_mods/BALLS/images/icons/icon-dp4.png
example_mods/BALLS/images/icons/icon-gf.png
example_mods/BALLS/images/icons/icon-komi.png
example_mods/BALLS/images/icons/icon-miku.png
example_mods/BALLS/images/icons/icon-monster.png
example_mods/BALLS/images/icons/icon-najimi.png
example_mods/BALLS/images/icons/icon-najtad-sketch.png
example_mods/BALLS/images/icons/icon-nerd.png
example_mods/BALLS/images/icons/icon-parents.png
example_mods/BALLS/images/icons/icon-pico.png
example_mods/BALLS/images/icons/icon-rimuru-mad.png
example_mods/BALLS/images/icons/icon-rimuru-mad.xml
example_mods/BALLS/images/icons/icon-rimuru-madd.png
example_mods/BALLS/images/icons/icon-rimuru.png
example_mods/BALLS/images/icons/icon-rimuruSLIME_new.png
example_mods/BALLS/images/icons/icon-rimuruSLIME_old.png
example_mods/BALLS/images/icons/icon-senpai.png
example_mods/BALLS/images/icons/icon-simon.png
example_mods/BALLS/images/icons/icon-spooky.png
example_mods/BALLS/images/icons/icon-tadano.png
example_mods/BALLS/images/icons/readme.txt
example_mods/BALLS/images/JesusLight.png
example_mods/BALLS/images/kom-sing.png
example_mods/BALLS/images/kom-sing.xml
example_mods/BALLS/images/kom.png
example_mods/BALLS/images/kom.xml
example_mods/BALLS/images/leaks/something.png
example_mods/BALLS/images/menubackgrounds/menu_dek.png
example_mods/BALLS/images/menubackgrounds/menu_edgerunners.png
example_mods/BALLS/images/menubackgrounds/menu_hamood.png
example_mods/BALLS/images/menubackgrounds/menu_kamina.png
example_mods/BALLS/images/menubackgrounds/menu_obed.png
example_mods/BALLS/images/menubackgrounds/readme.txt
example_mods/BALLS/images/menucharacters/amtakeboyfriend.json
example_mods/BALLS/images/menucharacters/amTakeBoyfriend.png
example_mods/BALLS/images/menucharacters/amTakeBoyfriend.xml
example_mods/BALLS/images/menucharacters/amtakegfxmass.json
example_mods/BALLS/images/menucharacters/amTakeGfXMass.png
example_mods/BALLS/images/menucharacters/amTakeGfXMass.xml
example_mods/BALLS/images/menucharacters/amtakeparents.json
example_mods/BALLS/images/menucharacters/amTakeParents.png
example_mods/BALLS/images/menucharacters/amTakeParents.xml
example_mods/BALLS/images/menucharacters/readme.txt
example_mods/BALLS/images/noteComboNumbers.png
example_mods/BALLS/images/noteComboNumbers.xml
example_mods/BALLS/images/red_death_light.png
example_mods/BALLS/images/SKETCH_NOTES.png
example_mods/BALLS/images/SKETCH_NOTES.xml
example_mods/BALLS/images/Slime/ASS.png
example_mods/BALLS/images/Slime/BG.png
example_mods/BALLS/images/Slime/BG.xml
example_mods/BALLS/images/Slime/bushes-n-trees.png
example_mods/BALLS/images/Slime/bushes-n-trees2.png
example_mods/BALLS/images/Slime/far1.png
example_mods/BALLS/images/Slime/far2.png
example_mods/BALLS/images/Slime/far3.png
example_mods/BALLS/images/Slime/far4.png
example_mods/BALLS/images/Slime/far5.png
example_mods/BALLS/images/Slime/forest-bg.png
example_mods/BALLS/images/Slime/GF_forest.png
example_mods/BALLS/images/Slime/GF_forest.xml
example_mods/BALLS/images/Slime/grass.png
example_mods/BALLS/images/Slime/ground.png
example_mods/BALLS/images/Slime/ground.xml
example_mods/BALLS/images/Slime/ground1.png
example_mods/BALLS/images/Slime/light.png
example_mods/BALLS/images/Slime/shadow.png
example_mods/BALLS/images/Slime/shadow.xml
example_mods/BALLS/images/Slime/THE-trunk.png
example_mods/BALLS/images/Slime/trunk.png
example_mods/BALLS/images/Slime/trunk.xml
example_mods/BALLS/images/Slime/trunk1.png
example_mods/BALLS/images/spacebar.png
example_mods/BALLS/images/spacebar.xml
example_mods/BALLS/images/storymenu/readme.txt
example_mods/BALLS/images/storymenu/week-edgerunners.png
example_mods/BALLS/images/storymenu/week-habibi.png
example_mods/BALLS/images/storymenu/week-kamina.png
example_mods/BALLS/images/storymenu/week-komi.png
example_mods/BALLS/images/storymenu/week-rimuru.png
example_mods/BALLS/lua_characters/data/credits/credits.json
example_mods/BALLS/lua_characters/komi-sketch-sing.lua
example_mods/BALLS/lua_characters/komi-sketch.lua
example_mods/BALLS/mechanics/Attack.lua
example_mods/BALLS/mechanics/data/credits/credits.json
example_mods/BALLS/mechanics/Dodge.lua
example_mods/BALLS/music/ded.ogg
example_mods/BALLS/music/NERVES LMAO.mp3
example_mods/BALLS/music/readme.txt
example_mods/BALLS/music/untitled1.wav
example_mods/BALLS/pack.json
example_mods/BALLS/readme.txt
example_mods/BALLS/scripts/Double BetBF.lua
example_mods/BALLS/scripts/Double BetDAD.lua
example_mods/BALLS/scripts/Fuck-you.lua
example_mods/BALLS/scripts/noNotesWithBotplay.lua
example_mods/BALLS/scripts/o/icon.hx
example_mods/BALLS/scripts/o/noteCombo.lua
example_mods/BALLS/scripts/o/restoredCombo.lua
example_mods/BALLS/scripts/readme.txt
example_mods/BALLS/shaders/readme.txt
example_mods/BALLS/some shit/characters/darnell-fake.json
example_mods/BALLS/some shit/characters/nene-fake.json
example_mods/BALLS/some shit/data/2hot-drey-mix/2hot-drey-mix.json
example_mods/BALLS/some shit/data/gay/gay-hard.json
example_mods/BALLS/some shit/data/gay/gay.json
example_mods/BALLS/some shit/images/characters/darnell-fake.png
example_mods/BALLS/some shit/images/characters/darnell-fake.xml
example_mods/BALLS/some shit/images/characters/nene-fake.png
example_mods/BALLS/some shit/images/characters/nene-fake.xml
example_mods/BALLS/some shit/images/highway-philly/bgcity.png
example_mods/BALLS/some shit/images/highway-philly/bgcity0.png
example_mods/BALLS/some shit/images/highway-philly/bridge.png
example_mods/BALLS/some shit/images/highway-philly/carback.png
example_mods/BALLS/some shit/images/highway-philly/carback2.png
example_mods/BALLS/some shit/images/highway-philly/city back.png
example_mods/BALLS/some shit/images/highway-philly/fog1.png
example_mods/BALLS/some shit/images/highway-philly/fog2.png
example_mods/BALLS/some shit/images/highway-philly/graffiti pyro.png
example_mods/BALLS/some shit/images/highway-philly/lightpost lightcast.png
example_mods/BALLS/some shit/images/highway-philly/lightpost.png
example_mods/BALLS/some shit/images/highway-philly/sky.png
example_mods/BALLS/some shit/images/highway-philly/stage front.png
example_mods/BALLS/some shit/images/highway-philly/stage front1.png
example_mods/BALLS/some shit/images/highway-philly/traffic lights.png
example_mods/BALLS/some shit/images/highway-philly/traffic signpost.png
example_mods/BALLS/some shit/images/highway-philly/vignette.png
example_mods/BALLS/some shit/images/icons/icon-darnell.png
example_mods/BALLS/some shit/songs/2hot-drey-mix/Inst.ogg
example_mods/BALLS/some shit/songs/2hot-drey-mix/Voices.ogg
example_mods/BALLS/some shit/songs/gay/Inst.ogg
example_mods/BALLS/some shit/songs/gay/Voices.ogg
example_mods/BALLS/some shit/stages/highway-philly.json
example_mods/BALLS/some shit/stages/highway-philly.lua
example_mods/BALLS/some shit/weeks/week-chart.json
example_mods/BALLS/songs/Bounce/Inst.ogg
example_mods/BALLS/songs/Bounce/Voices.ogg
example_mods/BALLS/songs/burning-hearts/Inst.ogg
example_mods/BALLS/songs/burning-hearts/Voices.ogg
example_mods/BALLS/songs/cocoa/Inst.ogg
example_mods/BALLS/songs/cocoa/Voices.ogg
example_mods/BALLS/songs/Communicate/Inst.ogg
example_mods/BALLS/songs/Communicate/Voices.ogg
example_mods/BALLS/songs/Cyberchase/Inst.ogg
example_mods/BALLS/songs/Cyberchase/Voices.ogg
example_mods/BALLS/songs/deep-poems/Inst.ogg
example_mods/BALLS/songs/deep-poems/Voices.ogg
example_mods/BALLS/songs/eggnog/Inst.ogg
example_mods/BALLS/songs/eggnog/Voices.ogg
example_mods/BALLS/songs/Hamood-Habibi-Remix/Inst.ogg
example_mods/BALLS/songs/najimi-erect/Inst.ogg
example_mods/BALLS/songs/najimi-erect/Voices.ogg
example_mods/BALLS/songs/najimi/Inst.ogg
example_mods/BALLS/songs/najimi/Voices.ogg
example_mods/BALLS/songs/phone-call/Inst.ogg
example_mods/BALLS/songs/phone-call/Voices.ogg
example_mods/BALLS/songs/readme.txt
example_mods/BALLS/songs/Rimuru-mono/Inst.ogg
example_mods/BALLS/songs/Rimuru-mono/Voices.ogg
example_mods/BALLS/sounds/fart-with-reverb.ogg
example_mods/BALLS/sounds/mic-hit.ogg
example_mods/BALLS/sounds/readme.txt
example_mods/BALLS/sounds/throw.ogg
example_mods/BALLS/stages/christ.json
example_mods/BALLS/stages/christ.lua
example_mods/BALLS/stages/christ/christ.hx
example_mods/BALLS/stages/christ/images/BlueWudbiw.png
example_mods/BALLS/stages/christ/images/Cass.png
example_mods/BALLS/stages/christ/images/Cass.xml
example_mods/BALLS/stages/christ/images/full.png
example_mods/BALLS/stages/christ/images/JesusLight.png
example_mods/BALLS/stages/christ/images/Knights.xml
example_mods/BALLS/stages/christ/images/Leaked.png
example_mods/BALLS/stages/christ/images/Leaked.xml
example_mods/BALLS/stages/christ/images/mall_back.png
example_mods/BALLS/stages/christ/images/MALL_BG_ESCALATORSSESES.png
example_mods/BALLS/stages/christ/images/People_mall.png
example_mods/BALLS/stages/christ/images/People_mall.xml
example_mods/BALLS/stages/christ/images/santa.png
example_mods/BALLS/stages/christ/images/santa.xml
example_mods/BALLS/stages/christ/images/sKETCHYgf.png
example_mods/BALLS/stages/christ/images/SmoothCC.png
example_mods/BALLS/stages/christ/images/SmoothCC.xml
example_mods/BALLS/stages/christ/images/Snow.png
example_mods/BALLS/stages/christ/images/Snowdick.png
example_mods/BALLS/stages/christ/images/snowfallin_bg.png
example_mods/BALLS/stages/christ/images/snowfallin_bg.xml
example_mods/BALLS/stages/christ/images/SnowWindow.png
example_mods/BALLS/stages/christ/images/SnowWindow.xml
example_mods/BALLS/stages/christ/images/TheWindow.png
example_mods/BALLS/stages/christ/images/ThingWindow.png
example_mods/BALLS/stages/christ/images/Tnakgays.png
example_mods/BALLS/stages/christ/images/Tnakgays.xml
example_mods/BALLS/stages/christ/images/TREEXDSXD.png
example_mods/BALLS/stages/christ/images/XD.png
example_mods/BALLS/stages/christ/images/XD.xml
example_mods/BALLS/stages/christ/images/zone.png
example_mods/BALLS/stages/christ/images/zone.xml
example_mods/BALLS/stages/class-sketch.json
example_mods/BALLS/stages/class-sketch.lua
example_mods/BALLS/stages/class.json
example_mods/BALLS/stages/class.lua
example_mods/BALLS/stages/readme.txt
example_mods/BALLS/stages/slime-stage.json
example_mods/BALLS/stages/slime-stage.lua
example_mods/BALLS/stages/stage.json
example_mods/BALLS/stages/street-test.json
example_mods/BALLS/stages/street-test.lua
example_mods/BALLS/stages/street.json
example_mods/BALLS/stages/street.lua
example_mods/BALLS/videos/readme.txt
example_mods/BALLS/weeks/amtake/week5.json
example_mods/BALLS/weeks/readme.txt
example_mods/BALLS/weeks/tutorial.json
example_mods/BALLS/weeks/week-edgerunners.json
example_mods/BALLS/weeks/week-erect.json
example_mods/BALLS/weeks/week-habibi.json
example_mods/BALLS/weeks/week-kamina.json
example_mods/BALLS/weeks/week-komi.json
example_mods/BALLS/weeks/week-rimuru.json
example_mods/BALLS/weeks/week5.json
example_mods/BALLS/weeks/weekList.txt
source/flixel/input/mouse/FlxMouseEventManager.hx
source/flixel/input/mouse/FlxMouseEvent.hx
source/flixel/input/mouse/FlxMouseButton.hx
source/flixel/input/mouse/FlxMouse.hx
source/flixel/input/mouse/FlxMouseEventManager.hx
source/flixel/input/mouse/FlxMouseEventManager.hx
